<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>NewGame</servlet-name>
        <servlet-class>chess.NewGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewGame</servlet-name>
        <url-pattern>/newgame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Turn</servlet-name>
        <servlet-class>chess.Turn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Turn</servlet-name>
        <url-pattern>/turn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoinGame</servlet-name>
        <servlet-class>chess.JoinGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinGame</servlet-name>
        <url-pattern>/joinGame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>chess.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>chess.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewPlayer</servlet-name>
        <servlet-class>chess.NewPlayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPlayer</servlet-name>
        <url-pattern>/newPlayer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Withdraw</servlet-name>
        <servlet-class>chess.Withdraw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Withdraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            500
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>newplayer.jsp</welcome-file>
    </welcome-file-list>
</web-app>
